@use "@/styles/theme" as *;

.single_hero_container {
  width: 100%;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  padding-right: 4.75rem;

  ::-webkit-scrollbar {
    background: unset !important;
  }

  ::-webkit-scrollbar-track {
    margin: 5vh 5vw;
  }

  &.dark {
    .icon_container {
      svg {
        path {
          fill: white;
        }
      }
    }

    .block {
      h2 {
        color: $gold;
      }

      p {
        color: $white;
      }
    }
  }

  .icon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.667rem;
    position: fixed;
    right: 1.5rem;
    top: 0;
    bottom: 0;
    z-index: 4;

    a {
      cursor: pointer;
    }

    svg {
      width: 1.458rem;
      height: 1.458rem;
    }
  }

  .view {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.458rem;

    h2 {
      width: fit-content;
      color: $blue;
      font-family: $moniqa;
      font-size: 4rem;
      margin-bottom: 1.292rem;
    }

    p {
      color: $gray;
      font-family: $arsenal-sc;
      font-size: 1.333rem;
      font-weight: bold;
    }

    img {
      width: 19.583rem;
      height: 25rem;
      box-shadow: $image-shadow;
    }
  }

  .info_container {
    p {
      height: 10.417rem;
      overflow: auto;
      padding: 3.33rem 20px 20px 0;
    }
  }
}

@media only screen and (max-width: 640px) {
  .single_hero_container {
    .icon_container {
      gap: 3rem;

      a {
        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .view {
      height: auto;
      padding-top: 10rem;
    }

    .block {
      flex-direction: column-reverse;

      img {
        width: 35rem;
        height: 45rem;
      }

      h2 {
        font-size: 8rem;
      }

      p {
        font-size: 3rem;
      }
    }

    .info_container {
      p {
        font-size: 3rem;
        font-weight: normal;
        height: 35rem;
        //overflow: auto;
        padding: 5rem 20px 20px 0;
      }
    }
  }
}