@use "@/styles/theme" as *;

.journal_topics_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  gap: 2rem;

  h2 {
    margin-bottom: 1.958rem;
  }
}

@media only screen and (max-width: 640px) {
  .journal_topics_list {
    padding-top: 0;
  }
}