@use "@/styles/theme" as *;

.contacts_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
  position: relative;
  overflow: visible;

  &.dark {
    hr, span:not(ul span) {
      background: rgba(226, 191, 124, 0.25);
    }
  }

  hr {
    width: 100vw;
    height: 1px;
    position: absolute;
    background: rgba(20, 23, 28, 0.25);
    border: none;

    &.top_line {
      top: -35px;
    }

    &.bottom_line {
      width: calc(50% + 100px);
      left: -100px;
      bottom: -35px;
    }
  }

  span:not(ul span) {
    width: 1px;
    height: 100vh;
    position: absolute;
    background: rgba(20, 23, 28, 0.25);

    &.left_line {
      left: -5vw;
    }

    &.right_line {
      right: 0;
    }

    &.block_right_line {
      top: -70px;
      right: -1px;
    }

    &.block_left_line {
      top: -70px;
      left: 0;
    }
  }

  .block {
    width: 50%;
    height: calc(100vh - 140px);
    position: relative;

    &.left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding-right: 2.958rem;
      box-sizing: border-box;
    }

    &.right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1.667rem;
      padding-left: 3.833rem;
      box-sizing: border-box;

      h4 {
        color: $black;
        font-size: 1.667rem;
        font-family: $moniqa;

        &.dark {
          color: white;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.25rem;

    &.dark {
      li {
        color: $gold;

        span {
          color: rgba(226, 191, 124, 0.5);
        }
      }
    }

    li {
      font-size: 1.667rem;
      font-family: $moniqa;
      color: $black;

      span {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 0.417rem;
      }
    }
  }
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.667rem;

  &.dark {
    h3 {
      color: white;
    }

    input, textarea {
      color: $gold;
      border-bottom: 1px solid rgba(226, 191, 124, 0.25);

      &::placeholder {
        color: rgba(226, 191, 124, 0.25);
      }
    }
  }

  h3 {
    font-family: $moniqa;
    color: $black;
    font-size: 1.667rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    input, textarea {
      outline: none;
      padding-left: 10px;
      background: transparent;
      border: none;
      color: $black;
      font-family: $moniqa;
      font-size: 1.333rem;
      border-bottom: 1px solid $black;

      &::placeholder {
        color: $black;
        font-family: $moniqa;
        font-size: 1.333rem;
      }
    }

    input {
      height: 40px;
    }

    textarea {
      height: 160px;
      resize: none;
    }
  }
}

