@use "./reset.scss";
@use "./ui.scss";
@use "./theme.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #b1acac;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}

::-webkit-scrollbar-track:hover {
  background-color: #555;
}

.container {
  min-height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 70px 100px;
  background: $bg-light;
  transition: background 0.5s;
  margin-left: 10vw;
  gap: 50px;

  &.dark {
    background: $bg-dark;
  }

  .page-title {
    font-family: 'Moniqa', serif;
    font-size: 55px;
    color: $active-link-light;

    &.dark {
      color: $active-link-dark;
    }
  }
}
