:root {
    --Primary-Text-Color: #253031;
    --Background-color: #FFFFFF;
    --Active-Link-color: #2978A0;
    --Card-Border-color: #315659;
    --Card-Text-color: #253031;

    --Font-family: Inter, sans-serif;

    --Heading-font-size: 32px;
    --Normal-font-size: 24px;
    --Text-font-size: 20px;

}