.read_more_btn {
	margin-top: 15px;
	padding: 8px 22px;
	border-radius: 14px;
	font-family: var(--Font-family);
	color: var(--Active-Link-color);
	border: 1px solid var(--Active-Link-color);
	cursor: pointer;
	background-color: transparent;
}