@use './theme.scss' as *;

.read_more_btn {
  background: transparent;
  border-radius: 0.7rem;
  font-size: 1rem;
  font-family: $moniqa;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;

  span, svg {
    position: relative;
    z-index: 2;
  }

  &.filled:hover {
    transition: 0.2s;
    filter: brightness(0.5);
  }

  &.dark:hover {
    color: $gold;

    svg {
      path {
        fill: $gold;
      }
    }

    &:before {
      transition: 0.4s;
      width: 100%;
    }
  }

  &.light:hover {
    color: $black;

    svg {
      path {
        fill: $black;
      }
    }

    &:before {
      transition: 0.4s;
      width: 100%;
    }
  }

  &.dark {
    border: 1px solid $black;
    color: $black;

    &:before {
      width: 0;
      height: 100%;
      content: "";
      display: block;
      background: $black;
      position: absolute;
      left: 0;
      transition: 0.5s;
      transform-origin: left;
    }

    svg {
      path {
        fill: $black;
      }
    }

    &.filled {
      background: $black;
      color: $gold;

      svg {
        path {
          fill: $gold;
        }
      }
    }
  }

  &.light {
    border: 1px solid $gold;
    color: $gold;

    &:before {
      width: 0;
      height: 100%;
      content: "";
      display: block;
      background: $gold;
      position: absolute;
      left: 0;
      transition: 0.5s;
      transform-origin: left;
    }

    svg {
      path {
        fill: $gold;
      }
    }

    &.filled {
      background: $gold;
      color: $black;

      svg {
        path {
          fill: $black;
        }
      }
    }
  }
}