@use '../../styles/theme' as *;

.heroes_container {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  align-self: center;

  h2 {
    font-family: 'Moniqa', serif;
    font-size: 55px;
    color: $active-link-light;

    &.dark {
      color: $active-link-dark;
    }
  }
}

.heroes_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
}
