@use "@/styles/theme.scss" as *;

.advertisers_card {
  width: 16.667rem;
  height: 20.833rem;
  background: rgba(20, 23, 28, 0.04);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1.389rem 2.083rem;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 8px 0 rgba(20, 23, 28, 0.1) inset;

  .advertisers_card_logo {
    width: 12.5rem;
    margin-bottom: 3.889rem;
  }

  .advertisers_card_description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.667rem;

    .advertisers_card_title {
      color: $black;
      font-size: 2rem;
      font-family: $moniqa;
    }

    .advertisers_card_price {
      color: $black;
      font-size: 1.333rem;
      font-family: $moniqa;
    }
  }
}
