@use '@/styles/theme' as *;

.tab_item_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .image_container {
    position: relative;
    overflow: visible;
    cursor: pointer;
  }

  .cover {
    width: 157px;
    height: 200px;
    position: relative;
    border-radius: 5px;
    z-index: 1;
  }

  .backdrop {
    height: 240px;
    position: absolute;
    right: -36px;
  }

  .action_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    h3 {
      font-family: $moniqa;
      font-size: 38px;
      color: $black;

      &.dark {
        color: $gold;
      }
    }
  }
}